{% extends "base.html" %}
{% load staticfiles %}
{% block title %}DataCenter{% endblock %}
{% block content %}
<script>
function toggler(divId) {
    $("#" + divId).toggle();
}
$(document).ready(function(){
    $("#hiddenAddDc").hide();
    $.get("{% url 'racklayout:createdc' %}", function(data){
        $("#hiddenAddDc").append(data);
    });

});
</script>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                 <H1 class="panel-title pull-left">Datacenters</H1>

             <div class="col-sm-3 col-md-3 pull-right">
               <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="query" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="searchsubmit"><i class="glyphicon glyphicon-search"></i></button>
                        <button class="btn btn-default" id="adddc" onclick="toggler('hiddenAddDc');"><i class="glyphicon glyphicon-plus-sign" style="color: #0099FF"></i></button>
                    </div>
               </div>
             </div>
            </div>

        <div id="hiddenAddDc">
        <!-- place holder for /create/dc -->
        </div>
        <div id="metrotable" class="table-responsive">
            <table id="metrotable" class="table table-condensed table-hover table-bordered">
                <thead>
                    <tr class="text-left">
                        <th>Metro</th>
                        <th>Datacenter</th>
                    </tr>
                </thead>
                <tbody>
                {% if datacenters %}
                {% for datacenter in datacenters %}
                    <tr>
                        <td>{{ datacenter.metro }}</td>
                        <td><a href="{% url 'racklayout:dc' datacenter.id %}"> {{ datacenter }}</a></td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td><h3>there is nothing in the database</h3></td>
                    </tr>
                {% endif %}
                </tbody>
                {% if error %}
                    <tr>
                        <td>{{ error }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
    </div>

{% endblock %}