{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Dacenter{% endblock %}
{% block content %}
<style>

 .rowspan2
 {
   height: 44px;
 }
 .rowspan3
 {
   height: 30px;
 }
 .rowspan4
 {
   height: 40px;
 }
 .rowspan5
 {
   height: 50px;
 }
 .rowspan6
 {
   height: 60px;
 }
</style>

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Rack:
                {% if rack %}
                     {{ rack }}
                {% else %}
                    Errror: Rack not found
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
           {% for row in listunits %}
            {% for unit, item in row.iteritems %}
                    {% if item.label != 'filled' and item.label != 'empty' and item.label != 'last'%}
                        <div class="row">
                            <div class="col-md-3 rowspan{{ item.size }}">{{ item.label }}</div>
                            <div class="col-md-1">
                            <div class="row" >{{ unit }}</div>
                    {% elif item.label == 'last'  %}
                        <div class="row" >{{ unit }}</div>
                            </div>
                        </div>
                    {% elif item.label == 'filled' %}
                        <div class="row" style="padding: 0.0em; border: 1px solid grey">{{ unit }}</div>
                    {% elif item.label == 'empty' %}
                        <div class="row">
                            <div class="col-md-3" style="padding: 0.0em; border: 1px solid grey">{{ item.label }}</div>
                            <div class="col-md-1" style="padding: 0.0em; border: 1px solid grey">{{ unit }}</div>
                        </div>

                    {% endif %}

            {% endfor %}
           {%  endfor %}
        </div>

</div>
<pre>{{ listunits }}</pre>
</div>
{% endblock %}
