{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Dacenter{% endblock %}
{% block content %}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Rack:
                {% if rack %}
                    {{ rack }}
                {% else %}
                    Errror: Rack not found
                {% endif %}
            </h3>
        </div>

        <div class='row'>
            {% if assets %}
                <div class="col-md-1">
                {% for i in totalunits %}
                 <div class="row">
                    {{ i }}
                </div>
                {% endfor %}
                </div>
                <div class="col-md-3">
                {% for i in totalunits %}
                    {% for asset in assets %}
                        {% if asset.units.last.location == i %}
                            <div class="row" style="adding: 0.1em; margin: 0.1em; border: 1px solid grey">{{ asset.get_asset_type_display }}: {{ asset }}</div>
                        {% else %}
                            <div class="row" style="adding: 0.1em; margin: 0.1em; border: 1px solid grey">empty</div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            {% else %}
            <H2><a href="#">Click here to add Assets to this Rack</a> </H2>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}