{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Dacenter{% endblock %}
{% block content %}
<script>
function toggler(divId) {
    $("#" + divId).toggle();
}
$(document).ready(function(){
    $("#hiddenAddRow").hide();
    $.get("{% url 'racklayout:createrow' %}", function(data){
        $("#hiddenAddRow").append(data);
    });

});
</script>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <H3 class="panel-title pull-left">{{ datacenter }}</H3>
                <div class="col-sm-3 col-md-3 pull-right">
                   <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="query" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" id="searchsubmit"><i class="glyphicon glyphicon-search"></i></button>
                            <button class="btn btn-default" id="addrow" onclick="toggler('hiddenAddRow');"><i class="glyphicon glyphicon-plus-sign" style="color: #0099FF"></i></button>
                        </div>
                   </div>
                 </div>
                </div>
            </div>
        </div>
        <div id ='hiddenAddRow'>
        <!-- place holder for /create/row -->
        </div>
        {% if object_list %}
        <div class="row">
        {% for rack in object_list %}
            <div class="col-md-1 text-left" style="padding: 0.1em; margin: 0.1em; border: 1px solid grey">
                <H1>{{ rack.rowid.label }}{{ rack.label }}</H1>
            </div>
        {% endfor %}
    {% else %}
        <H1> empty query set</H1>
    {% endif %}
    </div>
{% endblock %}